<h1>collect</h1>
<h1><%= @firstlink %></h1>
<form action="/collector/result/" method="POST">
    
    <h3>책정보입력( 엔터 로 구분)</h3>
    <h5>미입력시 기존데이터 확인</h5>
    <textarea rows="15" cols="60" name="bookname"></textarea>
    <input type="submit" value="send">
    
</form>